{% extends 'base.html' %}

{% block title %}
Market news
{% endblock %}

{% block body%}
<div class="background__main2"></div>
<!-- <div class="background__main3"></div> -->
<div class="container-fluid background__white position__rel m0p0" style="height: 100vh;">
    <div class="news__page m0p0" style="position: relative">
      
      <div class="row m0p0">

        <div>

          <a href="/home">Home></a><a href="/marketnews">News</a>
          
        </div>  

        <div class="col-lg-12 m0p0">
          <h2 class="text-uppercase text-center pb-3">{{ string[0][0] }}</h2>
        </div>
          
      </div>

      <div class="row m0p0">
        <div class="col-lg-12 m0p0 d-flex justify-content-center">
          <div class="col-lg-8 m0p0">
            
         
        
            <div class="border bg-light p-3 pl-4" style="font-size:18px; height: 65vh; line-height: 21px; overflow-y: scroll;border-radius: 5px;box-shadow: 0px 16px 36px rgba(68, 90, 3, 0.38);">
              
              <div class="dropdown pl-3 pt-3 pb-2">
                <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:rgba(105, 170, 0, 0.65);">
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">from old to new</a>
                  <a class="dropdown-item" href="#">from new to old</a>
                </div>
              </div>
              

              <div class="market__news__main">
                  
              {% for item in string %}
              <div class="p-3 d-flex justify-content-between border-bottom market__news__item">
                <a class="colorLink" href="{{item[3]}}">{{item[2]}}</a>

                <div >
                  <span class="p-1">{{item[1]}}</span> 
                </div>

              </div>
              
          {% endfor %}
              </div>
            </div>
            


          </div>
        </div>
      </div>

  

    </div>
    

    

  <!-- <div class="row d-flex justify-content-center m0p0">
    <div class="col-lg-12 text-center">
        <h3 class="text-uppercase">market news</h3>
    </div>


      <div class="col-lg-6 d-flex m0p0" >

      
        <table class="table table-hover table-striped table-sm bgcolor m0p0">
            
            <thead class="thead-dark">
                <tr>
                  <th class="p-1">&nbsp;Date&nbsp;&nbsp;&nbsp;</th>
                  <th >News</th>
                </tr>
              </thead>
              <tbody>
                {% for item in published %}
                <tr>
                  <td class="p-1">{{item[1]}}</td>
                  <td colspan="10"><a class="colorLink" href="{{item[3]}}">{{item[2]}}</a></td>  
                </tr>
                {% endfor %}
                
        </table>
      </div>     -->
 </div>

{% endblock %}

{% block active3%}
active
{% endblock %}