{% import "bootstrap/wtf.html" as wtf%}
{% extends 'base.html' %}

{% block title %}
Client portal
{% endblock %}

{% block active5%}
active
{% endblock %}

{% block body%}
<div class="background__main2"></div>
<div class="container-fluid position__rel" style="height: 100vh;">
  <div class="row justify-content-center pt-4 m0p0 ">
    <div class="col-lg-2 col-xs-2 bgcolor border p-3 animate__animated animate__zoomIn">
      <h3 class="text-center text-uppercase" data-translate-key="CLIENT_PORTAL">Password change</h3>
      <form method="POST" action="{{ url_for('reset_with_token', token=token) }}">
        {{ form.csrf_token }}
        <div class="form-group ">
          <input type="password" class="form-control " id="{{ form.password.label.text }}"
            name="{{ form.password.label.text }}" placeholder="New password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control " id="{{ form.confirm.label.text }}"
            name="{{ form.confirm.name }}" placeholder="Password confirmation">
          {% if form.errors %}
          <div class="text-danger">
              {% for field, errors in form.errors.items() %}
                  {{ ', '.join(errors) }}
              {% endfor %}
          </div>
          {% endif %}

        </div>
  
        <button type="submit" class="btn btn-dark text-uppercase" style="width: 100%; data-translate-key="LOGIN">CHANGE PASSWORD</button>
  
      </form>
    </div>
  </div>
</div>




{% endblock %}