{% import "bootstrap/wtf.html" as wtf%}
{#{% extends 'base.html' %}#}

{% block title %}
resset password
{% endblock %}

{% block active5%}
active
{% endblock %}

{% block body%}

<div class="container-fluid position__rel">
  <div class="row justify-content-center pt-4">
    <div class="col-lg-2 p-3 border bgcolor">
      <h3 class="text-center text-uppercase" data-translate-key="RESSET_PASS">Reset Password</h3>
      <form method="POST" action="/resetpassword">
        {{ form.hidden_tag() }}
        <div class="form-group pt-3 pb-3">
          <input type="email" class="form-control" id="{{ form.email.label.text }}" name="{{ form.email.label.text }}"
            aria-describedby="emailHelp" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-dark text-uppercase" style="width:100%;" data-translate-key="RESSET_PASS">Resset password</button>
      </form>
  
  
    </div>
  
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-4 pt-4">
      {% if message %}
      <div class="text-danger justify-content-center text-center">
        {{ message }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}